{% extends 'goods/my-user.html' %}


{% block menu_bar %}
<div class="containers"><div class="pc-nav-item"><a href="#">首页</a> &gt; <a href="#">我的商城 </a> &gt; <a href="#">地址管理</a></div></div>
{% endblock menu_bar %}
<!-- 商城快讯 begin -->

{% block member-right %}
        <div class="member-right fr">
            <div class="member-head">
                <div class="member-heels fl"><h2>地址管理</h2></div>
            </div>
            <div class="member-border">
                <div class="member-newly"><b>新增收货地址</b>您已经创建了<i class="reds">4</i>个收货地址了，最多可创建<i class="reds">20</i>个</div>
                <div class="member-sites">
                    <ul>
                        <li class="clearfix">
                            <div class="default fl"><a href="#">默认地址</a> </div>
                            <div class="user-info1 fl clearfix">
                                <div class="user-info">
                                    <span class="info1">收货人：</span>
                                    <span class="info2">张子琪</span>
                                </div>
                                <div class="user-info">
                                    <span class="info1">所在地区：</span>
                                    <span class="info2">北京市海淀区三环到四环之间</span>
                                </div>
                                <div class="user-info">
                                    <span class="info1">地址：</span>
                                    <span class="info2">北京市海淀区中关村南街99号，幸福小区3号楼4门401</span>
                                </div>
                                <div class="user-info">
                                    <span class="info1">手机：</span>
                                    <span class="info2">186****4832</span>
                                </div>
                                <div class="user-info">
                                    <span class="info1">固定电话：</span>
                                    <span class="info2">010-81819191</span>
                                </div>
                                <div class="user-info">
                                    <span class="info1">电子邮箱：</span>
                                    <span class="info2">azneui@sina.com</span>
                                </div>
                            </div>

                            <div class="pc-event">
                                <a href="#" class="pc-event-d">设为默认地址</a>
                                <a href="#">编辑 </a>
                                <a href="#">删除</a>
                            </div>
                        </li>

                        <li class="clearfix">
                            <div class="default fl"></div>
                            <div class="user-info1 fl clearfix">
                                <div class="user-info">
                                    <span class="info1">收货人：</span>
                                    <span class="info2">张子琪</span>
                                </div>
                                <div class="user-info">
                                    <span class="info1">所在地区：</span>
                                    <span class="info2">北京市海淀区三环到四环之间</span>
                                </div>
                                <div class="user-info">
                                    <span class="info1">地址：</span>
                                    <span class="info2">北京市海淀区中关村南街99号，幸福小区3号楼4门401</span>
                                </div>
                                <div class="user-info">
                                    <span class="info1">手机：</span>
                                    <span class="info2">186****4832</span>
                                </div>
                                <div class="user-info">
                                    <span class="info1">固定电话：</span>
                                    <span class="info2">010-81819191</span>
                                </div>
                                <div class="user-info">
                                    <span class="info1">电子邮箱：</span>
                                    <span class="info2">azneui@sina.com</span>
                                </div>
                            </div>
                            <div class="pc-event">
                                <a href="#">设为默认地址</a>
                                <a href="#">编辑 </a>
                                <a href="#">删除</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="member-pages clearfix">
                    <div class="fr pc-search-g">
                        <a href="#" class="fl pc-search-f">上一页</a>
                        <a class="current" href="#">1</a>
                        <a href="javascript:;">2</a>
                        <a href="javascript:;">3</a>
                        <a href="javascript:;">4</a>
                        <a href="javascript:;">5</a>
                        <a href="javascript:;">6</a>
                        <a href="javascript:;">7</a>
                        <span class="pc-search-di">…</span>
                        <a onClick="SEARCH.page(3, true)" href="javascript:;" class="pc-search-n" title="使用方向键右键也可翻到下一页哦！">下一页</a>
                    <span class="pc-search-y">
                        <em>  共20页    到第</em>
                        <input type="text" placeholder="1" class="pc-search-j">
                        <em>页</em>
                        <a class="confirm" href="#">确定</a>
                    </span>

                    </div>
                </div>
            </div>
        </div>
<!-- 商城快讯 End -->
{% endblock member-right %}

