{% extends 'goods/my-user.html' %}


{% block menu_bar %}
<div class="containers"><div class="pc-nav-item"><a href="#">首页</a> &gt; <a href="#">我的商城 </a> &gt; <a href="#">地址管理</a></div></div>
{% endblock menu_bar %}
<!-- 商城快讯 begin -->

{% block member-right %}
        <div class="member-right fr">
            <div class="member-head">
                <div class="member-heels fl"><h2>地址管理</h2></div>
            </div>
            <div class="member-border">
                <div class="member-newly"><div class="fl" style="width:135px; height:34px; text-align:center; border:1px solid red;"><a href="javascript:void(0)" onclick="add_address()"><b>新增收货地址</b></a> </div>&nbsp;&nbsp;&nbsp您已经创建了<i class="reds">{{ count }}</i>个收货地址了，最多可创建<i class="reds">20</i>个</div>
                <div class="member-sites">
                    <ul>
                        {% for address in address_list %}
                            <li class="clearfix">
                                <div class="default fl">{% if address.is_default %}<a href="#">默认地址</a> {% endif %}</div>

                            <div class="user-info1 fl clearfix">
                                <div class="user-info">
                                    <span class="info1">收货人：</span>
                                    <span class="info2">{{ address.a_name }}</span>
                                </div>
                                <div class="user-info">
                                    <span class="info1">所在地区：</span>
                                    <span class="info2">{{ address.a_region }}</span>
                                </div>
                                <div class="user-info">
                                    <span class="info1">地址：</span>
                                    <span class="info2">{{ address.a_place }}</span>
                                </div>
                                <div class="user-info">
                                    <span class="info1">手机：</span>
                                    <span class="info2">{{ address.a_phone }}</span>
                                </div>
                                <div class="user-info">
                                    <span class="info1">固定电话：</span>
                                    <span class="info2">{{ address.fixed_telephone }}</span>
                                </div>
                                <div class="user-info">
                                    <span class="info1">电子邮箱：</span>
                                    <span class="info2">{{ address.a_email }}</span>
                                </div>
                            </div>

                            <div class="pc-event">
                                <a href="{% url 'users:set_default_address' address.id %}" {% if address.is_default %}class="pc-event-d"{% endif %}>设为默认地址</a>
                                <a href="javascript:void(0)" onclick="edit('{{ address.id }}', '{{ address.a_name }}', '{{ address.a_region }}', '{{ address.a_place }}', '{{ address.a_phone }}', '{{ address.fixed_telephone }}', '{{ address.a_email }}')">编辑 </a>
                                <a href="{% url 'users:del_address' address.id %}">删除</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
<!-- 商城快讯 End -->
{% endblock member-right %}

{% block script %}
    <link rel="stylesheet" href="/static/goods/layer/theme/default/layer.css"  media="all">
    <script type="text/javascript" src="/static/backmanage/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/goods/layer/layer.js"></script>
    <script>
        function add_address() {

              var add_item = '<li class="clearfix" id="f2">\n'+
              '<form method="post">\n' +
              '                                    <div class="user-info1 fl clearfix" id="f1">\n' +
              '                                        <div class="user-info">\n' +
              '                                            <span class="info1">收货人：</span>\n' +
              '                                            <span class="info2"><input type="text" name="a_name" required></span>\n' +
              '                                        </div>\n' +
              '                                        <div class="user-info">\n' +
              '                                            <span class="info1">所在地区：</span>\n' +
              '                                            <span class="info2"><input type="text" name="a_region" required></span>\n' +
              '                                        </div>\n' +
              '                                        <div class="user-info">\n' +
              '                                            <span class="info1">详细地址：</span>\n' +
              '                                            <span class="info2"><input type="text" name="a_place" required></span>\n' +
              '                                        </div>\n' +
              '                                        <div class="user-info">\n' +
              '                                            <span class="info1">手机：</span>\n' +
              '                                            <span class="info2"><input type="text" name="a_phone" required></span>\n' +
              '                                        </div>\n' + '<div class="user-info">\n' +'<div class="user-info">\n' +
              '                                            <span class="info1">邮箱：</span>\n' +
              '                                            <span class="info2"><input type="text" name="a_email" required></span>\n' +
              '                                        </div>\n' + '<div class="user-info">\n' +
              '                                            <span class="info1">固定电话：</span>\n' +
              '                                            <span class="info2"><input type="text" name="fixed_telephone" required></span>\n' +
              '                                        </div>\n' +
              '                                    <div class="member-pages clearfix">\n' +
              '                                        <input type="button" class="layui-btn layui-btn-sm layui-btn-danger" value="确定" id="btn1" onclick="save()">\n' +
              '                                        <input type="button" class="layui-btn layui-btn-sm layui-btn-danger" value="取消" id="btn2" onclick="cancel()">\n' +
              '                                    </div>\n' +
              '                                </form>\n' +
              '                            </li>';
              console.log(add_item)
            console.log($('div[class="member-sites"] > ul').empty())
            $('div[class="member-sites"] > ul').append(add_item)

        }
        function save() {
            a_name = $('input[name="a_name"]').val()
            a_region = $('input[name="a_region"]').val()
            a_place = $('input[name="a_place"]').val()
            a_phone = $('input[name="a_phone"]').val()
            a_email = $('input[name="a_email"]').val()
            fixed_telephone = $('input[name="fixed_telephone"]').val()
            $.post("{% url 'users:add_address' %}", {"a_name": a_name, "a_region": a_region, "a_place": a_place, "a_phone": a_phone, "a_email": a_email, "fixed_telephone": fixed_telephone}, function (data) {
                if(data['code']==1){
                    alert(data['msg'])
                }else{
                    window.location.reload()
                }

            })

        }
        function cancel() {
            window.location.reload()
        }
        function edit(address_id, a_name, a_region, a_place, a_phone, fixed_telephone, a_email) {
            console.log(address_id)
            var add_item = '<li class="clearfix" id="f2">\n'+
              '<form method="post">\n' +
              '                                    <div class="user-info1 fl clearfix" id="f1">\n' +
              '                                        <div class="user-info">\n' +
              '                                            <span class="info1">收货人：</span>\n' +
              '                                            <span class="info2"><input type="text" name="a_name" value="'+a_name+'"required></span>\n' +
              '                                        </div>\n' +
              '                                        <div class="user-info">\n' +
              '                                            <span class="info1">所在地区：</span>\n' +
              '                                            <span class="info2"><input type="text" name="a_region" value="'+a_region+'" required></span>\n' +
              '                                        </div>\n' +
              '                                        <div class="user-info">\n' +
              '                                            <span class="info1">详细地址：</span>\n' +
              '                                            <span class="info2"><input type="text" name="a_place" value="'+a_place+'" required></span>\n' +
              '                                        </div>\n' +
              '                                        <div class="user-info">\n' +
              '                                            <span class="info1">手机：</span>\n' +
              '                                            <span class="info2"><input type="text" name="a_phone" value="'+a_phone+'" required></span>\n' +
              '                                        </div>\n' + '<div class="user-info">\n' +'<div class="user-info">\n' +
              '                                            <span class="info1">邮箱：</span>\n' +
              '                                            <span class="info2"><input type="text" name="a_email" value="'+a_email+'" required></span>\n' +
              '                                        </div>\n' + '<div class="user-info">\n' +
              '                                            <span class="info1">固定电话：</span>\n' +
              '                                            <span class="info2"><input type="text" name="fixed_telephone" value="'+fixed_telephone+'" required></span>\n' +
              '                                        </div>\n' +
              '                                    <div class="member-pages clearfix">\n' +
              '                                        <input type="button" class="layui-btn layui-btn-sm layui-btn-danger" value="确定" id="btn1" onclick="update('+address_id+')">\n' +
              '                                        <input type="button" class="layui-btn layui-btn-sm layui-btn-danger" value="取消" id="btn2" onclick="cancel()">\n' +
              '                                    </div>\n' +
              '                                </form>\n' +
              '                            </li>';
              console.log(add_item)
            console.log($('div[class="member-sites"] > ul').empty())
            $('div[class="member-sites"] > ul').append(add_item)
        }
        function update(address_id) {
            a_name = $('input[name="a_name"]').val()
            a_region = $('input[name="a_region"]').val()
            a_place = $('input[name="a_place"]').val()
            a_phone = $('input[name="a_phone"]').val()
            a_email = $('input[name="a_email"]').val()
            fixed_telephone = $('input[name="fixed_telephone"]').val()
            $.post("{% url 'users:edit_address' %}", {"address_id": address_id, "a_name": a_name, "a_region": a_region, "a_place": a_place, "a_phone": a_phone, "a_email": a_email, "fixed_telephone": fixed_telephone}, function (data) {
                if(data['code']==1){
                    alert(data['msg'])
                }else{
                    window.location.reload()
                }

            })
        }
    </script>
{% endblock script %}


