{% extends 'goods/my-user.html' %}
{% block menu_bar %}
<div class="containers"><div class="pc-nav-item"><a href="#">首页</a> &gt; <a href="#">我的商城 </a> &gt; <a href="#">地址管理</a></div></div>
{% endblock menu_bar %}
{% block member-right %}
        <div class="member-right fr">
            <div class="member-head">
                <div class="member-heels fl"><h2>我的订单</h2></div>
                <div class="member-backs member-icons fr"><a href="#">搜索</a></div>
                <div class="member-about fr"><input type="text" placeholder="商品名称/商品编号/订单编号"></div>
            </div>
            <div class="member-whole clearfix">
                <ul id="H-table" class="H-table">
                    <li class="cur"><a href="javascript:void(0)" onclick="get_order(0)">我的订单</a></li>
                    <li><a href="javascript:void(0)" onclick="get_order(1)">待付款</a></li>
                    <li><a href="javascript:void(0)" onclick="get_order(2)">待发货</a></li>
                    <li><a href="javascript:void(0)" onclick="get_order(3)">待收货</a></li>
                    <li><a href="javascript:void(0)" onclick="get_order(4)">交易完成</a></li>
                </ul>
            </div>
            <div class="member-border">
               <div class="member-return H-over">
                   <div class="member-cancel clearfix">
                       <span class="be1">订单信息</span>
                       <span class="be2">收货人</span>
                       <span class="be2">订单金额</span>
                       <span class="be2">订单时间</span>
                       <span class="be2">订单状态</span>
                       <span class="be2">订单操作</span>
                   </div>
                   <div class="member-sheet clearfix">
                       <ul>
                           {% for order in order_list %}
                                <li>
                               <div class="member-minute clearfix">
                                   <span>{{ order.create_time }}</span>
                                   <span>订单号：<em>{{ order.order_id }}</em></span>
                               </div>
                               <div class="member-circle clearfix">
                                   <div class="ci1">
                                       {% for order_product in order_product_list %}
                                           {% if order_product.order_info == order %}
                                            <div class="ci7 clearfix">
                                                   <span class="gr2"><a href="/details/{{ order_product.product.spu.unique_code}}">{{ order_product.product.title }}</a></span>
                                                   <span class="gr3">X{{ order_product.count }}</span>
                                            </div>
                                           {% endif %}
                                       {% endfor %}
                                   </div>
                                   <div class="ci2" >{{ order.user.username }}</div>
                                   <div class="ci3"><b>￥{{ order.product_price}}</b><p>支付宝支付</p></div>
                                   <div class="ci4"><p>{{ order.create_time }}</p></div>
                                   <div class="ci5"><p>{% if order.order_status == 1 %}等待付款{% elif order.order_status == 2 %}等待发货{% endif %}</p> <p><a href="#">物流跟踪</a></p> <p><a href='{% url "users:order_info" order.order_id %}'>订单详情</a></p></div>
                                   <div class="ci5 ci8"> {% if order.order_status == 1 %}  <p><a href="javascript:void(0)" onclick="pay_order({{ order.order_id }})" class="member-touch">立即支付</a> </p> {% endif %} <p><a href="#">取消订单</a> </p></div>
                               </div>
                           </li>
                           {% endfor %}
                       </ul>
                   </div>
               </div>
               <div class="member-return H-over" style="display:none;">
                   <div class="member-cancel clearfix">
                       <span class="be1">订单信息</span>
                       <span class="be2">收货人</span>
                       <span class="be2">订单金额</span>
                       <span class="be2">订单时间</span>
                       <span class="be2">订单状态</span>
                       <span class="be2">订单操作</span>
                   </div>
                   <div class="member-sheet clearfix">
                       <ul>
                           <li>
                               <div class="member-minute clearfix">
                                   <span>2015-09-22 18:22:33</span>
                                   <span>订单号：<em>98653056821</em></span>
                                   <span><a href="#">以纯甲醇旗舰店</a></span>
                                   <span class="member-custom">客服电话：<em>010-6544-0986</em></span>
                               </div>
                               <div class="member-circle clearfix">
                                   <div class="ci1">
                                       <div class="ci7 clearfix">
                                           <span class="gr1"><a href="#"><img src="/static/goods/img/pd/m1.png" width="60" height="60" title="" about=""></a></span>
                                           <span class="gr2"><a href="#">红米Note2 标准版 白色 移动4G手机 双卡双待</a></span>
                                           <span class="gr3">X1</span>
                                       </div>
                                       <div class="ci7 clearfix">
                                           <span class="gr1"><a href="#"><img src="/static/goods/img/pd/m2.png" width="60" height="60" title="" about=""></a></span>
                                           <span class="gr2"><a href="#">AXON天机mini NBA限量版</a></span>
                                           <span class="gr3">X9</span>
                                       </div>
                                   </div>
                                   <div class="ci2" >张子琪</div>
                                   <div class="ci3"><b>￥120.00</b><p>货到付款</p><p class="iphone">手机订单</p></div>
                                   <div class="ci4"><p>2015-09-22</p></div>
                                   <div class="ci5"><p>已申请退货</p> <p><a href="#">退货日志</a></p></div>
                                   <div class="ci6"><p><a href="#">取消退货</a> </p></div>
                               </div>
                           </li>
                           <li>
                               <div class="member-minute clearfix">
                                   <span>2015-09-22 18:22:33</span>
                                   <span>订单号：<em>98653056821</em></span>
                                   <span><a href="#">以纯甲醇旗舰店</a></span>
                                   <span class="member-custom">客服电话：<em>010-6544-0986</em></span>
                               </div>
                               <div class="member-circle clearfix">
                                   <div class="ci1">
                                       <div class="ci7 clearfix">
                                           <span class="gr1"><a href="#"><img src="/static/goods/img/pd/m1.png" width="60" height="60" title="" about=""></a></span>
                                           <span class="gr2"><a href="#">红米Note2 标准版 白色 移动4G手机 双卡双待</a></span>
                                           <span class="gr3">X1</span>
                                       </div>
                                       <div class="ci7 clearfix">
                                           <span class="gr1"><a href="#"><img src="/static/goods/img/pd/m2.png" width="60" height="60" title="" about=""></a></span>
                                           <span class="gr2"><a href="#">AXON天机mini NBA限量版</a></span>
                                           <span class="gr3">X9</span>
                                       </div>
                                   </div>
                                   <div class="ci2" >张子琪</div>
                                   <div class="ci3"><b>￥120.00</b><p>货到付款</p><p class="iphone">手机订单</p></div>
                                   <div class="ci4"><p>2015-09-22</p></div>
                                   <div class="ci5"><p>已完成</p> <p><a href="#">订单详情</a></p></div>
                                   <div class="ci6"><p><a href="#">取消退货</a> </p></div>
                               </div>
                           </li>
                           <li>
                               <div class="member-minute clearfix">
                                   <span>2015-09-22 18:22:33</span>
                                   <span>订单号：<em>98653056821</em></span>
                                   <span><a href="#">以纯甲醇旗舰店</a></span>
                                   <span class="member-custom">客服电话：<em>010-6544-0986</em></span>
                               </div>
                               <div class="member-circle clearfix">
                                   <div class="ci1">
                                       <div class="ci7 clearfix">
                                           <span class="gr1"><a href="#"><img src="/static/goods/img/pd/m1.png" width="60" height="60" title="" about=""></a></span>
                                           <span class="gr2"><a href="#">红米Note2 标准版 白色 移动4G手机 双卡双待</a></span>
                                           <span class="gr3">X1</span>
                                       </div>
                                       <div class="ci7 clearfix">
                                           <span class="gr1"><a href="#"><img src="/static/goods/img/pd/m2.png" width="60" height="60" title="" about=""></a></span>
                                           <span class="gr2"><a href="#">AXON天机mini NBA限量版</a></span>
                                           <span class="gr3">X9</span>
                                       </div>
                                   </div>
                                   <div class="ci2" >张子琪</div>
                                   <div class="ci3"><b>￥120.00</b><p>货到付款</p><p class="iphone">手机订单</p></div>
                                   <div class="ci4"><p>2015-09-22</p></div>
                                   <div class="ci5"><p>已完成</p> <p><a href="#">订单详情</a></p></div>
                                   <div class="ci6"><p><a href="#">取消退货</a> </p></div>
                               </div>
                           </li>
                       </ul>
                   </div>
               </div>
               <div class="H-over member-over" style="display:none;"><h2>待发货</h2></div>
               <div class="H-over member-over" style="display:none;"><h2>待收货</h2></div>
               <div class="H-over member-over" style="display:none;"><h2>交易完成</h2></div>

            </div>
        </div>
{% endblock member-right %}
{% block script %}
    <script>
        function get_order(id) {
            all_list = $("#H-table").children()
            for(i=0;i<all_list.length;i++){
                $(all_list[i]).removeClass('cur')
            }
            $(all_list[id]).addClass('cur')
        }
        function pay_order(order_id){
            $.get("{% url "orders:pay_order" %}", {'order_id': order_id}, function (data) {
                window.open(data['pay_url'])
                alert("支付成功后刷新")
                window.location.reload()
            })
        }
    </script>
{% endblock script %}
