
{% extends 'goods/my-user.html' %}


{% block menu_bar %}
<div class="containers"><div class="pc-nav-item"><a href="#">首页</a> &gt; <a href="#">我的商城 </a> &gt; <a href="#">地址管理</a></div></div>
{% endblock menu_bar %}
{% block member-right %}
        <div class="member-right fr">
            <div class="member-head">
                <div class="member-heels fl"><h2>订单号：{{ order.order_id }}</h2></div>
                <div class="member-backs fr"><a href="{% url 'users:order_manage' %}">返回订单首页</a></div>
            </div>
            <div class="member-border">
               <div class="member-order">
                   <dl>
                       <dt>发货信息</dt>
                       <dd class="member-seller">卖家已发货 <a href="#">（物流查询）</a> </dd>
                   </dl>
                   <dl class="member-custom clearfix ">
                       <dt>订单信息</dt>
                       <dd>订单编号：{{ order.order_id }}</dd>
                       <dd>订单金额：￥{{ order.product_price }}</dd>
                       <dd>付款时间：{{ order.pay_date }}</dd>
                       <dd>创建时间：{{ order.create_time }}</dd>
                   </dl>
                   <dl>
                       <dt>配送信息</dt>
                       <dd class="member-seller"><span>收货地址：<em>{{ order.addr.a_name }}</em></span> <span>{{ order.addr.a_phone }}</span> <span>{{ order.addr.a_place }}</span></dd>
                   </dl>

                   <dl>
                       <dt>商品信息</dt>
                   </dl>
               </div>
               <div class="member-serial">
                   <ul>
                       <li class="clearfix">
                           <div class="No1">商品编号</div>
                           <div class="No2">商品详情</div>
                           <div class="No3">数量</div>
                           <div class="No4">单价</div>
                           <div class="No5">小计</div>
                       </li>
                       {% for order_product in  order_product_list %}
                            <li class="clearfix">
                               <div class="No1">{{ order_product.product.id}}</div>
                               <div class="No2"><a href="/details/{{ order_product.product.spu.unique_code}}">{{ order_product.product.title}}</a> </div>
                               <div class="No3">{{ order_product.count}}</div>
                               <div class="No4">{{ order_product.product.price}}</div>
                               <div class="No5">{{ order_product.price}}</div>
                           </li>
                       {% endfor %}
                   </ul>
               </div>
            </div>
            <div class="member-settle clearfix">
                <div class="fr">
                    <div><span>商品金额：</span><em>￥270.00</em></div>
                    <div><span>共需支付：</span><em>￥280.00</em></div>
                </div>
            </div>
        </div>
{% endblock member-right %}

