{% extends 'goods/my-user.html' %}

{% block menu_bar %}
<div class="containers"><div class="pc-nav-item"><a href="#">首页</a> &gt; <a href="#">我的商城 </a> &gt; <a href="#">地址管理</a></div></div>
{% endblock menu_bar %}
{% block member-right %}
        <div class="member-right fr">
            <div class="member-head">
                <div class="member-heels fl"><h2>我的收藏</h2></div>
                <div class="member-backs member-icons fr"><a href="#">搜索</a></div>
                <div class="member-about fr"><input type="text" placeholder="商品名称/商品编号/订单编号"></div>
            </div>
            <div class="member-switch clearfix">
                <ul id="H-table" class="H-table">
                    <li><a href="#">我的收藏的商品</a></li>
                    <li class="cur"><a href="#">我收藏的店铺</a></li>
                </ul>
            </div>
            <div class="member-border">
               <div class="member-return H-over"  style="display:none;">
                   <div class="member-troll clearfix">
                       <div class="member-all fl"><b class="on"></b>全选</div>
                       <div class="member-check clearfix fl"> <a href="#">加入购物车</a> <a href="#" class="member-delete">删除商品</a> </div>
                   </div>
                   <div class="time-border-list pc-search-list member-all1 clearfix">
                       <ul class="clearfix">
                           <li>
                               <a href="#"> <img src="/static/goods/img/pd/hot2.png"></a>
                               <p class="head-name"><b class="on"></b><a href="#">小米 4 2GB内存版 白色 移动4G手机不锈钢金属边框、 5英寸屏窄边，工艺和手感</a> </p>
                               <p><span class="price">￥138.00</span></p>
                           </li>
                           <li>
                               <a href="#"> <img src="/static/goods/img/pd/hot2.png"></a>
                               <p class="head-name"><b></b><a href="#">小米 4 2GB内存版 白色 移动4G手机不锈钢金属边框、 5英寸屏窄边，工艺和手感</a> </p>
                               <p><span class="price">￥138.00</span></p>
                           </li>
                           <li>
                               <a href="#"> <img src="/static/goods/img/pd/hot2.png"></a>
                               <p class="head-name"><a href="#">小米 4 2GB内存版 白色 移动4G手机不锈钢金属边框、 5英寸屏窄边，工艺和手感</a> </p>
                               <p><span class="price">￥138.00</span></p>
                           </li>
                           <li>
                               <a href="#"> <img src="/static/goods/img/pd/hot2.png"></a>
                               <p class="head-name"><b></b><a href="#">小米 4 2GB内存版 白色 移动4G手机不锈钢金属边框、 5英寸屏窄边，工艺和手感</a> </p>
                               <p><span class="price">￥138.00</span></p>
                           </li>
                           <li>
                               <a href="#"> <img src="/static/goods/img/pd/hot2.png"></a>
                               <p class="head-name"><b class="on"></b><a href="#">小米 4 2GB内存版 白色 移动4G手机不锈钢金属边框、 5英寸屏窄边，工艺和手感</a> </p>
                               <p><span class="price">￥138.00</span></p>
                           </li>
                           <li>
                               <a href="#"> <img src="/static/goods/img/pd/hot2.png"></a>
                               <p class="head-name"><b></b><a href="#">小米 4 2GB内存版 白色 移动4G手机不锈钢金属边框、 5英寸屏窄边，工艺和手感</a> </p>
                               <p><span class="price">￥138.00</span></p>
                           </li>
                           <li>
                               <a href="#"> <img src="/static/goods/img/pd/hot2.png"></a>
                               <p class="head-name"><a href="#">小米 4 2GB内存版 白色 移动4G手机不锈钢金属边框、 5英寸屏窄边，工艺和手感</a> </p>
                               <p><span class="price">￥138.00</span></p>
                           </li>
                           <li>
                               <a href="#"> <img src="/static/goods/img/pd/hot2.png"></a>
                               <p class="head-name"><b></b><a href="#">小米 4 2GB内存版 白色 移动4G手机不锈钢金属边框、 5英寸屏窄边，工艺和手感</a> </p>
                               <p><span class="price">￥138.00</span></p>
                           </li>

                       </ul>
                   </div>
               </div>
               <div class="member-return H-over">
                   <div class="member-troll clearfix">
                       <div class="member-all fl"><b class="on"></b>全选</div>
                       <div class="member-check clearfix fl"> <a href="#" class="member-delete">删除商品</a> </div>
                   </div>
                   <div class="member-vessel">
                       <ul>
                           <li class="clearfix">
                               <div class="member-tenant fl clearfix">
                                   <div class="fl member-all1 member-all2"><b class="on"></b></div>
                                   <div class="fr">
                                       <a href="#"><img src="/static/goods/icon/shop-ll.png" width="114" height="114" title=""></a>
                                       <p>秋水伊人官方旗舰店</p>
                                       <p><a href="#" class="member-shops">进入店铺</a> </p>
                                       <p>关注人气：1000+</p>
                                       <p>收藏时间：2014-11-21</p>
                                   </div>
                               </div>

                               <div class="member-volume fl">
                                   <a href="#" class="fl member-btn-fl"></a>
                                   <div class="member-cakes fl">
                                       <ul>
                                           <li>
                                               <a href="#"><img src="/static/goods/img/pd/m3.png" width="125" height="125" title=""></a>
                                               <p>￥78.00</p>
                                           </li>
                                           <li>
                                               <a href="#"><img src="/static/goods/img/pd/m4.png" width="125" height="125" title=""></a>
                                               <p>￥78.00</p>
                                           </li>
                                           <li>
                                               <a href="#"><img src="/static/goods/img/pd/m5.png" width="125" height="125" title=""></a>
                                               <p>￥78.00</p>
                                           </li>
                                           <li>
                                               <a href="#"><img src="/static/goods/img/pd/m3.png" width="125" height="125" title=""></a>
                                               <p>￥78.00</p>
                                           </li>
                                       </ul>
                                   </div>
                                   <a href="#" class="fr member-btn-fr"></a>
                               </div>
                           </li>
                           <li class="clearfix">
                               <div class="member-tenant fl clearfix">
                                   <div class="fl member-all1 member-all2"><b class="on"></b></div>
                                   <div class="fr">
                                       <a href="#"><img src="/static/goods/icon/shop-ll.png" width="114" height="114" title=""></a>
                                       <p>秋水伊人官方旗舰店</p>
                                       <p><a href="#" class="member-shops">进入店铺</a> </p>
                                       <p>关注人气：1000+</p>
                                       <p>收藏时间：2014-11-21</p>
                                   </div>
                               </div>

                               <div class="member-volume fl">
                                   <a href="#" class="fl member-btn-fl"></a>
                                   <div class="member-cakes fl">
                                       <ul>
                                           <li>
                                               <a href="#"><img src="/static/goods/img/pd/m3.png" width="125" height="125" title=""></a>
                                               <p>￥78.00</p>
                                           </li>
                                           <li>
                                               <a href="#"><img src="/static/goods/img/pd/m4.png" width="125" height="125" title=""></a>
                                               <p>￥78.00</p>
                                           </li>
                                           <li>
                                               <a href="#"><img src="/static/goods/img/pd/m5.png" width="125" height="125" title=""></a>
                                               <p>￥78.00</p>
                                           </li>
                                           <li>
                                               <a href="#"><img src="/static/goods/img/pd/m3.png" width="125" height="125" title=""></a>
                                               <p>￥78.00</p>
                                           </li>
                                       </ul>
                                   </div>
                                   <a href="#" class="fr member-btn-fr"></a>
                               </div>
                           </li>
                       </ul>
                   </div>
               </div>



                <div class="clearfix" style="padding:30px 20px;">
                    <div class="fr pc-search-g pc-search-gs">
                        <a style="display:none" class="fl " href="#">上一页</a>
                        <a href="#" class="current">1</a>
                        <a href="javascript:;">2</a>
                        <a href="javascript:;">3</a>
                        <a href="javascript:;">4</a>
                        <a href="javascript:;">5</a>
                        <a href="javascript:;">6</a>
                        <a href="javascript:;">7</a>
                        <span class="pc-search-di">…</span>
                        <a href="javascript:;">1088</a>
                        <a title="使用方向键右键也可翻到下一页哦！" class="" href="javascript:;">下一页</a>
                    </div>
                </div>

            </div>
        </div>
{% endblock member-right %}
