{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>添加品牌</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link href="{% static 'backmanage/assets/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'backmanage/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'backmanage/assets/css/ace.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'backmanage/assets/css/font-awesome.min.css' %}"/>
    <link href="{% static 'backmanage/Widget/icheck/icheck.css' %}" rel="stylesheet" type="text/css"/>
    <!--[if IE 7]>
		  <link rel="stylesheet" href="{% static 'backmanage/assets/css/font-awesome-ie7.min.css' %}" />
	<![endif]-->
    <!--[if lte IE 8]>
		  <link rel="stylesheet" href="{% static 'backmanage/assets/css/ace-ie.min.css' %}" />
	<![endif]-->
    <script src="{% static 'backmanage/js/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'backmanage/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'backmanage/assets/js/typeahead-bs2.min.js' %}"></script>
    <script src="{% static 'backmanage/assets/layer/layer.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'backmanage/Widget/swfupload/swfupload.js' %}"></script>
    <script type="text/javascript" src="{% static 'backmanage/Widget/swfupload/swfupload.queue.js' %}"></script>
    <script type="text/javascript" src="{% static 'backmanage/Widget/swfupload/swfupload.speed.js' %}"></script>
    <script type="text/javascript" src="{% static 'backmanage/Widget/swfupload/handlers.js' %}"></script>
</head>
<body>
<div class=" clearfix">
    <form action="" method="post">
        {% csrf_token %}
        <div id="add_brand" class="clearfix">
    {#        <div class="c_add">#}
                <div class="title_name">添加品牌</div>
                <ul class="add_conent">
                    <li class=" clearfix">
                        <label class="label_name">
                            <i>*</i>品牌名称：
                        </label>
                        <input name="bname" type="text" class="add_text"/>
                    </li>
                    <li class=" clearfix">
                        <label class="label_name">
                            <i>*</i>品牌图片：
                        </label>
                        <div class="formControls col-10">
                            <input type="file" name="pictures" multiple> <br>
                            允许上传:png,jpeg,jpg,gif,bmp文件
                        </div>
                    <li class=" clearfix">
                        <label class="label_name">
                            <i>*</i>所属分类：
                        </label>
                        <select id="big_category" name="b_cid">
                            <option>选择产品分类</option>
                            {% for big_category in all_big_category %}
                               <option value="{{ big_category.id }}">
                                   {{ big_category.name }}
                               </option>
                            {% endfor %}
                        </select>
                        <select id="small_category" name="s_cid">
                            <option>选择产品分类</option>
                            {% for small_category in all_small_category %}
                                   <option value="{{ small_category.id }}">
                                       {{ small_category.name }}
                                   </option>
                            {% endfor %}
                        </select>
                    </li>
                    <li class=" clearfix">
                        <label class="label_name">
                            <i>*</i>显示状态：
                        </label>
                        <label>
                            <input name="checkbox" type="radio" class="ace" checked="checked" value="0">
                            <span class="lbl">显示</span>
                        </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label>
                            <input type="radio" class="ace" name="checkbox" value="1">
                            <span class="lbl" >不显示</span>
                        </label>
                    </li>
                </ul>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button onclick="article_save_submit();" type="button" id="save_submit" class="btn btn-warning">
                        <i class="fa fa-save "></i> 保存
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button onclick="article_save_submit();" type="button" id="save_submit" class="btn btn-warning">
                        <i class="fa fa-save "></i> 取消
                    </button>
                </div>
        </div>
    </form>
</div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $(".left_add").height($(window).height() - 60);
        $(".right_add").width($(window).width() - 600);
        $(".right_add").height($(window).height() - 60);
        $(".select").height($(window).height() - 195);
        $("#select_style").height($(window).height() - 220);
        //当文档窗口发生改变时 触发
        $(window).resize(function () {
            $(".right_add").width($(window).width() - 600);
            $(".left_add").height($(window).height() - 60);
            $(".right_add").height($(window).height() - 60);
            $(".select").height($(window).height() - 195);
            $("#select_style").height($(window).height() - 220);
        });
    })

    function article_save_submit() {
        $.post('{% url "backmanage:add_brand" %}', $('form').serialize(),function(data){
           if(data['code'] == 0){
               window.location.href = '{% url "backmanage:brand_manage" %}'
           }else{
               alert(data['msg'])
           }
        })
    };
</script>
<script type="text/javascript">
    function updateProgress(file) {
        $('.progress-box .progress-bar > div').css('width', parseInt(file.percentUploaded) + '%');
        $('.progress-box .progress-num > b').html(SWFUpload.speed.formatPercent(file.percentUploaded));
        if (parseInt(file.percentUploaded) == 100) {
            // 如果上传完成了
            $('.progress-box').hide();
        }
    }
    function initProgress() {
        $('.progress-box').show();
        $('.progress-box .progress-bar > div').css('width', '0%');
        $('.progress-box .progress-num > b').html('0%');
    }
    function successAction(fileInfo) {
        var up_path = fileInfo.path;
        var up_width = fileInfo.width;
        var up_height = fileInfo.height;
        var _up_width, _up_height;
        if (up_width > 120) {
            _up_width = 120;
            _up_height = _up_width * up_height / up_width;
        }
        $(".logobox .resizebox").css({width: _up_width, height: _up_height});
        $(".logobox .resizebox > img").attr('src', up_path);
        $(".logobox .resizebox > img").attr('width', _up_width);
        $(".logobox .resizebox > img").attr('height', _up_height);
    }
    var swfImageUpload;
    $(document).ready(function () {
        var settings = {
            flash_url: "Widget/swfupload/swfupload.swf",
            flash9_url: "Widget/swfupload/swfupload_fp9.swf",
            upload_url: "upload.php",// 接受上传的地址
            file_size_limit: "5MB",// 文件大小限制
            file_types: "*.jpg;*.gif;*.png;*.jpeg;",// 限制文件类型
            file_types_description: "图片",// 说明，自己定义
            file_upload_limit: 100,
            file_queue_limit: 0,
            custom_settings: {},
            debug: false,
            // Button settings
            button_image_url: "Widget/swfupload/upload-btn.png",
            button_width: "95",
            button_height: "30 ",
            button_placeholder_id: 'uploadBtnHolder',
            button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
            button_cursor: SWFUpload.CURSOR.HAND,
            button_action: SWFUpload.BUTTON_ACTION.SELECT_FILE,
            moving_average_history_size: 40,
            // The event handler functions are defined in handlers.js
            swfupload_preload_handler: preLoad,
            swfupload_load_failed_handler: loadFailed,
            file_queued_handler: fileQueued,
            file_dialog_complete_handler: fileDialogComplete,
            upload_start_handler: function (file) {
                initProgress();
                updateProgress(file);
            },
            upload_progress_handler: function (file, bytesComplete, bytesTotal) {
                updateProgress(file);
            },
            upload_success_handler: function (file, data, response) {
                // 上传成功后处理函数
                var fileInfo = eval("(" + data + ")");
                successAction(fileInfo);
            },
            upload_error_handler: function (file, errorCode, message) {
                alert('上传发生了错误！');
            },
            file_queue_error_handler: function (file, errorCode, message) {
                if (errorCode == -110) {
                    alert('您选择的文件太大了。');
                }
            }
        };
        swfImageUpload = new SWFUpload(settings);
    });
</script>
<script>
    $('#big_category').change(
        function () {
            $('#small_category').empty()
            $('#small_category').append('<option>选择产品分类</option>')
            big_category_id = $('#big_category option:selected').val()
             {% for small_category in all_small_category %}
                 small_parent_id = {{ small_category.parentid }}
                 if(big_category_id == small_parent_id){
                     var option = "<option value='" + '{{ small_category.id }}'+"'>" + '{{ small_category.name }}'+"</option>"
                 }
                 $('#small_category').append(option)
             {% endfor %}
        }
    )
    $('#small_category').change(function () {
        cid = $('#small_category option:selected').val()
        $.get('{% url "backmanage:attribute_get" %}',{'cid':cid},function (data) {
            index = 0
            for(attribute in data['common_attribute']){
                attr = data['common_attribute'][attribute]
                item = '<ul class="Father_Title"><li>'+attr.name+'</li></ul><ul class="Father_Item'+index+'">';
                for (value in attr.values){
                    item = item+ '<li class="li_width"><label><input id="Checkbox1" type="checkbox" class="chcBox_Width" value="0_'+attr['id']+'_'+attr.values[value]['id']+'_'+attr.values[value]['value']+'" />'+attr.values[value]['value']+'<span class="li_empty"> </span></label></li>';
                }
                item = item+"</ul><br/>";
                $('#attribute').append(item)
                index++;
                }
            for(attribute in data['special_attribute']){
                attr = data['special_attribute'][attribute]
                item = '<ul class="Father_Title"><li>'+attr.name+'</li></ul><ul class="Father_Item'+index+'">';
                for (value in attr.values){
                    item = item+ '<li class="li_width"><label><input id="Checkbox1" type="checkbox" class="chcBox_Width" value="1_'+attr['id']+'_'+attr.values[value]['id']+'_'+attr.values[value]['value']+'" />'+attr.values[value]['value']+'<span class="li_empty"> </span></label></li>';
                }
                item = item+"</ul><br/>";
                $('#attribute').append(item)
                index++;
            }
            $('#brand').empty()
            $('#brand').append('<option>选择品牌</option>')
            for( brand in data['brand']){
                item = "<option value='" + data['brand'][brand].id +"'>" + data['brand'][brand].name+"</option>"
                $('#brand').append(item)
            }
            creat_table()
        })
    })
</script>
