<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>修改栏目 - 异清轩博客管理系统</title>
<link rel="stylesheet" type="text/css" href="/static/backmanage/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/backmanage/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/backmanage/css/font-awesome.min.css">
<script src="/static/backmanage/js/jquery-1.9.1.min.js"></script>
</head>
<body class="user-select">
<section class="container-fluid">
  <div class="row">
    <div class="" id="main">
      <div class="row">
        <div class="">
          <h1 class="page-header">管理 <span class="badge">{{ count }}</span></h1>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>名称</th>
                  <th>显示顺序</th>
                  <th>描述</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
              {% for big_category in all_big_category %}
                  <tr class="danger">
                      <td>{{ big_category.name }}</td>
                      <td>{{ big_category.order }}</td>
                      <td>{% if big_category.description %}{{ big_category.description }}{% else %}无{% endif %}</td>
                      <td><a href="{% url 'backmanage:category_update' big_category.id %}">修改</a>
    {#                      <a rel="1">删除</a></td>#}
    {#                todo 删除级联影响略大，暂时未做#}
                    </tr>
                  {% for category in categorys %}
                      {% if category.parentid == big_category.id %}
                          <tr>
                          <td>{{ category.name }}</td>
                          <td>{{ category.order }}</td>
                          <td>{% if category.description %}{{ category.description }}{% else %}无{% endif %}</td>
                          <td><a href="{% url 'backmanage:category_update' category.id %}">修改</a>
        {#                      <a rel="1">删除</a></td>#}
        {#                todo 删除级联影响略大，暂时未做#}
                        </tr>
                      {% endif %}

                  {% endfor %}
               {% endfor %}
              </tbody>
            </table>
{#            <span class="prompt-text"><strong>注：</strong>删除一个类目也会删除该下的子目和商品,请谨慎删除!</span> </div>#}
        </div>
      </div>
    </div>
  </div>
    <div>
        <div class="Operate_btn">
            <a href="{% url 'backmanage:category_add' %}" class="btn  btn-warning">
                <i class="icon-edit align-top bigger-125"></i>新增子类型
            </a>
        </div>
    </div>
</section>
<script src="/static/backmanage/js/bootstrap.min.js"></script>
<script src="/static/backmanage/js/admin-scripts.js"></script>
<script>
//是否确认删除
$(function(){   
	$("#main table tbody tr td a").click(function(){
		var name = $(this);
		var id = name.attr("rel"); //对应id  
		if (event.srcElement.outerText === "删除") 
		{
			if(window.confirm("此操作不可逆，是否确认？"))
			{
				$.ajax({
					type: "POST",
					url: "/Category/delete",
					data: "id=" + id,
					cache: false, //不缓存此页面   
					success: function (data) {
						window.location.reload();
					}
				});
			};
		};
	});   
});
</script>
</body>
</html>
